################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DSFinalProject/.vs/DSFinalProject/FileContentIndex
/DSFinalProject/.vs/DSFinalProject/v17/ipch/AutoPCH/bbd0fbbdb51c7ef5
